html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(9, 2, 34);
  font-family: Arial, sans-serif;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Navigation */
nav {
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-container a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: cursive;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-menu > li > a:hover {
  color: #008CFF;
}

.nav-menu a.active {
  font-weight: bold;
  color: #007bff;
  border-bottom: 2px solid #007bff;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Homepage Image */
#homepageimg {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

#homepageimg img {
  width: 600px; /* Verkleinert */
  height: auto;
  display: block;
}

#homepageimg p {
  font-size: 32px; /* Deutlich kleiner */
  color: aliceblue;
  margin: 0;
  max-width: 300px;
  text-align: center;
}


/* Boxes Layout */
.Checklist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 100px auto;
}

.box {
  background-color: #008CFF;
  padding: 60px;
  border-radius: 10px;
  width: 90%;
  max-width: 1000px;
  text-align: center;
}

#taskList,
#fachListe {
  list-style-type: none;
  padding: 0;
}

#taskInput,
#fachInput {
  width: 60%;
  padding: 12px 16px;
  font-size: 18px;
  border: 0 solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 10px;
}

#errorMsg,
#subjectErrorMsg {
  background-color: #fff0f0;
  color: red;
  padding: 8px 12px;
  border: 1px solid red;
  border-radius: 5px;
  font-size: 14px;
  display: none;
  margin-top: 10px;
}

/* Buttons */
button {
  padding: 12px 16px;
  font-size: 16px;
  background-color: white;
  color: #007BFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #d7d9dc;
}

/* Kleine runde Icon-Buttons für + - ❌ */
.small-btn {
  font-size: 14px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  margin-left: 10px;
  cursor: pointer;
  padding: 4px;
}

.small-btn:hover {
  color: darkred;
}

/* Footer */
footer p {
  text-align: center;
  margin-top: 50px;
  color: #ffffff;
}
